/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
scripts/ci/*.sh text eol=lf
deploy/cicd/*.sh text eol=lf
deploy/cicd/yakmogo-* text eol=lf
deploy/docker/* text eol=lf
.github/workflows/*.yml text eol=lf
